---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
  namespace: kube-system
spec:
  interval: 24h
  chartRef:
    name: cilium
    kind: OCIRepository
  values:
    cni:
      exclusive: false
    autoDirectNodeRoutes: true
    bpf:
      masquerade: true
    bgp:
      enabled: false
    endpointRoutes:
      enabled: true
    envoy:
      enabled: false
    envoyConfig:
      enabled: false
    hubble:
      enabled: false
    ipam:
      mode: kubernetes
    egressGateway:
      enabled: true
    gatewayAPI:
      enabled: true
      gatewayClass:
        create: "true"
      secretsNamespace:
        create: false
        name: kube-system
    tls:
      secretsNamespace:
        create: false
        name: kube-system
    ipv4NativeRoutingCIDR: 100.64.0.0/16
    kubeProxyReplacement: true
    kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
    l2announcements:
      enabled: true
    loadBalancer:
      algorithm: maglev
      mode: dsr
    localRedirectPolicy: true
    operator:
      enabled: true
      replicas: 1
    rollOutCiliumPods: true
    routingMode: native
    securityContext:
      capabilities:
        ciliumAgent:
          - CHOWN
          - KILL
          - NET_ADMIN
          - NET_RAW
          - IPC_LOCK
          - SYS_ADMIN
          - SYS_RESOURCE
          - DAC_OVERRIDE
          - FOWNER
          - SETGID
          - SETUID
        cleanCiliumState:
          - NET_ADMIN
          - SYS_ADMIN
          - SYS_RESOURCE
    cgroup:
      autoMount:
        enabled: false
      hostRoot: /sys/fs/cgroup
    k8sServiceHost: localhost
    k8sServicePort: 7445
