# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-instance
spec:
  interval: 24h
  chartRef:
    kind: OCIRepository
    name: flux-instance
  dependsOn:
    - name: flux-operator
      namespace: flux-system
  values:
    instance:
      distribution:
        # renovate: datasource=github-releases depName=controlplaneio-fluxcd/distribution
        version: 2.7.5
      cluster:
        networkPolicy: false
      components:
        - source-controller
        - kustomize-controller
        - helm-controller
        - notification-controller
      sync:
        name: homelab
        kind: GitRepository
        url: https://github.com/jetersen/homelab
        ref: refs/heads/main
        path: kubernetes/flux
        pullSecret: "flux-system"
        interval: 24h
