# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/fluxcd.controlplane.io/fluxinstance_v1.json
# Only used for first-time setup of Flux in the cluster
# After initial setup, Flux is managed via the flux-instance HelmRelease
apiVersion: fluxcd.controlplane.io/v1
kind: FluxInstance
metadata:
  name: flux
  namespace: flux-system
  annotations:
    fluxcd.controlplane.io/reconcileEvery: '24h'
    fluxcd.controlplane.io/reconcileArtifactEvery: '10m'
    fluxcd.controlplane.io/reconcileTimeout: '5m'
spec:
  distribution:
    version: '2.x'
    registry: 'ghcr.io/fluxcd'
    artifact: 'oci://ghcr.io/controlplaneio-fluxcd/flux-operator-manifests'
  components:
    - source-controller
    - kustomize-controller
    - helm-controller
    - notification-controller
  sync:
    name: homelab
    kind: GitRepository
    url: https://github.com/jetersen/homelab
    ref: refs/heads/main
    path: kubernetes/flux
    interval: 24h
  cluster:
    type: kubernetes
    size: medium
    multitenant: false
    networkPolicy: false
    domain: 'cluster.local'
  kustomize:
    patches:
      - target:
          kind: Deployment
        patch: |
          - op: replace
            path: /spec/template/spec/nodeSelector
            value:
              kubernetes.io/os: linux
