---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
spec:
  interval: 24h
  releaseName: cert-manager
  chartRef:
    kind: OCIRepository
    name: cert-manager
  values:
    crds:
      enabled: true
      keep: false
    replicaCount: 1
    extraArgs:
      - --dns01-recursive-nameservers=1.1.1.1:53
      - --dns01-recursive-nameservers-only
    podDnsPolicy: None
    podDnsConfig:
      nameservers:
        - "1.1.1.1"

    prometheus:
      enabled: false
      servicemonitor:
        enabled: false

    resources:
      requests:
        cpu: 10m
        memory: 32Mi

    containerSecurityContext:
      capabilities:
        drop:
          - ALL
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true

    securityContext:
      runAsNonRoot: true
      runAsUser: 1001

    webhook:

      resources:
        requests:
          cpu: 10m
          memory: 32Mi

      containerSecurityContext:
        capabilities:
          drop:
            - ALL
        allowPrivilegeEscalation: false
        readOnlyRootFilesystem: true

      securityContext:
        runAsNonRoot: true
        runAsUser: 1001

    startupapicheck:

      resources:
        requests:
          cpu: 10m
          memory: 32Mi

      containerSecurityContext:
        capabilities:
          drop:
            - ALL
        allowPrivilegeEscalation: false
        readOnlyRootFilesystem: false

      securityContext:
        runAsNonRoot: true
        runAsUser: 1001

    cainjector:
      resources:
        requests:
          cpu: 10m
          memory: 32Mi

      containerSecurityContext:
        capabilities:
          drop:
            - ALL
        allowPrivilegeEscalation: false
        readOnlyRootFilesystem: true

      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
