---
clusterName: homelab
talosVersion: v1.11.5
kubernetesVersion: v1.34.1
endpoint: https://192.168.1.10:6443
domain: cluster.local
allowSchedulingOnMasters: true
additionalMachineCertSans:
  - 192.168.1.10
  - talos01
  - talos01.lan.jetersen.dev
additionalApiServerCertSans:
  - talos01
  - talos01.lan.jetersen.dev
clusterPodNets:
  - 100.64.0.0/16
clusterSvcNets:
  - 100.65.0.0/24
cniConfig:
  name: none
patches:
  - |-
    machine:
      env:
        GRPC_GO_LOG_SEVERITY_LEVEL: error
    cluster:
      proxy:
        disabled: true
nodes:
  - hostname: talos01
    userVolumes:
      - name: local-path-provisoner
        provisioning:
          diskSelector:
            match: disk.transport == "nvme"
          maxSize: 1500GiB
    volumes:
      - name: EPHEMERAL
        provisioning:
          diskSelector:
            match: disk.transport == "nvme"
          maxSize: 100GiB
    ipAddress: 192.168.1.10
    controlPlane: true
    machineSpec:
      mode: metal
      arch: amd64
      useUKI: false
      secureboot: false
    schematic:
      customization:
        extraKernelArgs:
          - -init_on_alloc
          - -init_on_free
          - -selinux
          - apparmor=0
          - init_on_alloc=0
          - init_on_free=0
          - mitigations=off
          - security=none
          - talos.auditd.disabled=1
          - cpufreq.default_governor=powersave
          - talos.dashboard.disabled=1
        systemExtensions:
          officialExtensions:
            - siderolabs/intel-ucode
            - siderolabs/i915
    installDisk: /dev/nvme0n1
    nodeAnnotations:
      installerUrl: '{{ .MachineConfig.MachineInstall.InstallImage }}'
    nameservers:
      - 192.168.1.1
    networkInterfaces:
      - interface: enp1s0
        dhcp: true
