---
clusterName: homelab
talosVersion: v1.11.5
kubernetesVersion: v1.34.1
endpoint: https://192.168.1.10:6443
domain: cluster.local
allowSchedulingOnMasters: true
additionalMachineCertSans:
  - 192.168.1.10
  - talos01
  - talos01.lan.jetersen.dev
additionalApiServerCertSans:
  - talos01
  - talos01.lan.jetersen.dev
clusterPodNets:
  - 100.64.0.0/16
clusterSvcNets:
  - 100.65.0.0/24
cniConfig:
  name: none
patches:
  - |-
    machine:
      env:
        GRPC_GO_LOG_SEVERITY_LEVEL: error
    cluster:
      proxy:
        disabled: true
nodes:
  - hostname: talos01
    # extensionServices:
    #   - name: nut-client
    #     configFiles:
    #       - content: MONITOR upsmonHost 1 remote pass password
    #         mountPath: /usr/local/etc/nut/upsmon.conf
    #     environment:
    #       - UPS_NAME=ups
    userVolumes:
      - name: local-path-provisoner
        provisioning:
          diskSelector:
            match: disk.transport == "nvme"
          maxSize: 1500GiB
    volumes:
      - name: EPHEMERAL
        provisioning:
          diskSelector:
            match: disk.transport == "nvme"
          maxSize: 100GiB
    ipAddress: 192.168.1.10
    controlPlane: true
    machineSpec:
      mode: metal
      arch: amd64
      useUKI: false
      secureboot: false
    schematic:
      customization:
        extraKernelArgs:
          - -init_on_alloc
          - -init_on_free
          - -selinux
          - apparmor=0
          - init_on_alloc=0
          - init_on_free=0
          - mitigations=off
          - security=none
          - talos.auditd.disabled=1
          - cpufreq.default_governor=powersave
          - talos.dashboard.disabled=1
        systemExtensions:
          officialExtensions:
            - siderolabs/intel-ucode
            - siderolabs/i915
    # machineFiles:
    #   - content: |
    #       TS_AUTHKEY=123456
    #     permissions: 0o644
    #     path: /var/etc/tailscale/auth.env
    #     op: create
    #   - content: "@./tsauth.env"
    #     permissions: 0o644
    #     path: /var/etc/tailscale2/auth.env
    #     op: create
    installDisk: /dev/nvme0n1
      # TODO: broken since Talos 1.9 and I need to investigate
      # name: /sys/block/sda/device/name
      # busPath: /pci0000:00/0000:00:17.0/ata1/host0/target0:0:0/0:0:0:0
    # nodeLabels:

    nodeAnnotations:
      installerUrl: '{{ .MachineConfig.MachineInstall.InstallImage }}'
    nameservers:
      - 192.168.1.1
    networkInterfaces:
      - interface: enp1s0
        dhcp: true
# controlPlane:
#   patches:
#     - |-
#       machine:
#         kubelet:
#           extraArgs:
#             feature-gates: GracefulNodeShutdown=true,MixedProtocolLBService=true
#             rotate-server-certificates: "true"
# worker:
#   ingressFirewall:
#     defaultAction: block
#     rules:
#       - name: apid-ingress
#         portSelector:
#           ports:
#             - 50000
#           protocol: tcp
#         ingress:
#           - subnet: 10.96.0.0/12
#   patches:
#     - |-
#       machine:
#         kubelet:
#           extraArgs:
#             feature-gates: GracefulNodeShutdown=false,MixedProtocolLBService=false
#             rotate-server-certificates: "true"
#   schematic:
#     customization:
#       systemExtensions:
#         officialExtensions:
#           - siderolabs/intel-ucode
