---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: victoria-logs
spec:
  interval: 24h
  releaseName: victoria-logs
  chartRef:
    kind: OCIRepository
    name: victoria-logs-single
  values:
    server:
      retentionPeriod: 7d
      persistentVolume:
        enabled: true
        size: 20Gi
      resources:
        requests:
          cpu: 50m
          memory: 256Mi
        limits:
          cpu: 500m
          memory: 1Gi
